@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap");
:root {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  border: none;
}

input:focus {
  outline: none;
}

.container, .container-md {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  max-width: 1400px;
}

.container-md {
  max-width: 896px;
}

.about {
  padding: 130px 0px;
  background-color: #fbf8ec;
}
.about .main__texts {
  display: flex;
  align-items: center;
  gap: 15px;
}
.about .main__texts .main__sec {
  color: #414141;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.about .main__texts .main__part {
  color: #8f8f8f;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.about .about-text {
  color: #414141;
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 72px;
}
@media (max-width: 550px) {
  .about .about-text {
    font-size: 40px;
  }
}
.about .about__head {
  margin-top: 17px;
  width: 45%;
  color: var(--main-primary, #f63);
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}
.about .about__image img {
  width: 100%;
  margin: 0 auto;
}