$primary-color: #8f8f8f;
$secondary-color: #5d5f6d;
$background-color: #fff;
$main-color: #414141;
$btn-background: #70c05b;
$main-bg-page: #fbf8ec;
$header-height: 80px;
$global-background: #fbf8ec;
